@font-face {
  font-family: 'Lama Sans';
  src: url('fonts/LamaSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: 'Lama Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; /* جعل خلفية الصفحة شفافة */
  margin: 0;
}

#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* مسافة بين العناصر */
  background-color: transparent; /* جعل خلفية المحرر شفافة */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text-rect {
  width: 575px;
  height: 75px;
  background-color: #e9ba28; /* اللون الجديد للمستطيل */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* إزالة الحدود */
  border-radius: 5px;
  text-align: center;
  font-size: 35px;
  color: black; /* لون النص داخل المستطيل */
  margin-bottom: 10px;
}

#image-square {
  width: 100%; /* ضبط العرض ليكون 100% من العرض المتاح */
  height: auto; /* ضبط الارتفاع ليكون تلقائي بناءً على العرض */
  position: relative;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* جعل الصورة تغطي كامل المربع مع الحفاظ على نسبها الأصلية */
  object-position: center; /* ضبط موضع الصورة في المركز */
}


#image-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#download-button {
  background-color: #e9ba28;
  color: white;
  padding: 10px 20px;
  border: none; /* إزالة الحدود */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#download-button:hover {
  background-color: #d0a123;
}
